body {
    background-color: #3D3D3D;
    margin: 40px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #B1D372;
	word-wrap: break-word;
}

a {
    color: #0084B1;
	/*#00A08B; Dark GreenBlue*/
    background-color: transparent;
    font-weight: normal;
	text-decoration: none;
}

h1 {
    border-bottom: 1px solid #38A513;
    font-size: 19px;
    font-weight: normal;
	color: #7D7E7D;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
	
	/*Background Gradients*/
	background: rgb(177,211,114); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(177,211,114,1) 0%, rgba(56,165,19,1) 50%, rgba(177,211,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(177,211,114,1)), color-stop(50%,rgba(56,165,19,1)), color-stop(100%,rgba(177,211,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(177,211,114,1) 0%,rgba(56,165,19,1) 50%,rgba(177,211,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(177,211,114,1) 0%,rgba(56,165,19,1) 50%,rgba(177,211,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(177,211,114,1) 0%,rgba(56,165,19,1) 50%,rgba(177,211,114,1) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(177,211,114,1) 0%,rgba(56,165,19,1) 50%,rgba(177,211,114,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d372', endColorstr='#b1d372',GradientType=1 ); /* IE6-9 */
}

/* For Form Format */
label {
	float: left;
	width: 10em;
	margin-right: 1em;
}

fieldset li {
	float: left;
	clear: left;
	width: 100%;
	padding-bottom: 1em;
}

fieldset ol {
	list-style-type: none;
	padding-top: 0.25em;
}

fieldset {
	float: left;
	clear: left;
	width: 100%;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #38A513;
	max-width: 500px;
	word-wrap: break-word;
}

fieldset.submit {
	float: none;
	width: auto;
	border: 0 none #FFF;
	padding-left: 12em;
}

legend {
	margin-left: 1em;
	padding: 2px;
	font-weight: bold;
}

span.map {
	padding: 0 0 0 50px;
}

/* For Header Format */
.left {
	font-size: 32px;
	color: #168400;
	text-align: left;
	text-shadow: 1px 1px 1px #000000;
}

.right {
	text-align: right;
	color: #168400;
}

.left, .right {
	display: inline-block;
	width: 50%;
}

/* For Links */
.inText {
	color: #38A513;
}

.inNav {
	text-shadow: 1px 2px 1px #000000;
	text-transform: uppercase;
	padding: 0px 5px 0px 20px;
}

.inHeader {
	text-shadow: 1px 1px 1px #000000;
	text-transform: uppercase;
}

/* Content Tags */
p.content {
	padding: 0px 95px 0px 0px;
}

/* Navigation Menu */
p.nav {
	text-align: right;
	float: right;
	border-left: 1px solid #38A513;
	line-height: 32px;
}

/* Miscellaneous */
p.min {
	min-height: 300px;
}

#wrap {
	margin: 0 auto;
	width: 400px;
}

#body{
	margin: 0 15px 0 15px;
}
p.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #38A513;
    line-height: 32px;
    padding: 0 5px 0 10px;
    margin: 20px 0 0 0;
}
#container{
    margin: 10px;
	border: 1px solid #38A513;
    -webkit-box-shadow: 0 0 15px 5px #38A513;
	overflow: auto;
}"

/*code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}*/